elevenlabs @ git+https://github.com/elevenlabs/elevenlabs-python.git@ecd541cad2a55e27fc8d28006306087f22e7d2fb
openai @ git+https://github.com/openai/openai-python.git@e41abf7b7dbc1e744d167f748e55d4dedfc0dca7
python-kasa @ git+https://github.com/python-kasa/python-kasa.git@063518b7dba8e9f58e915607a64ba506d83e8aed
deep-speaker @ git+https://github.com/philipperemy/deep-speaker.git@76d91dd3f30895690ca295e4c47c6629b4292533
scipy==1.11.1
tensorflow==2.14.0
pydub
twilio
flask
pyngrok
geopy
timezonefinder
wikipedia
pillow
python-mpd2
pytz
thefuzz
whisper-timestamped